:root {
    --title-color: blue;
    --code-background: blue, lightblue;
    --border-color: aqua; 
    --code-color: white;
    --background: antiquewhite;
    --card-margin-value: 2%;
    --card-border-radius: 30px 30px;
    --card-border-no-radius: 0px 0px;
    --footer-color: black;
}

body {
background-color: var(--background);
}

header {    
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all 2s ease-in-out;
}

.card {
    flex: 0 0 400px;
    width: 30%;
    border-style: dotted;
    margin: 2%;
    border-radius: var(--card-border-radius) var(--card-border-radius);
    justify-content: space-evenly;
    justify-items: center;
    transition: all 2s ease-in-out;
}

.card:hover {
    border-style: bold;
    background-color: gold;
    font-weight: bold;
}
.card p {
    margin: var(--card-margin-value);
}

.card p:hover {
    color: purple;
    font-weight: bold;
}

.title {
    padding: 1px;
    background-image: linear-gradient(var(--code-background));
    color: var(--title-color) ;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: var(--card-border-radius) var(--card-border-no-radius);
}


.code {
    display: block;
    background-image: linear-gradient(var(--code-background));
    color:var(--code-color);
    margin: var(--card-margin-value);
    border-radius: var(--card-border-no-radius) var(--card-border-radius);
    user-select: all;
}

footer {
    text-align: center;
    color: var(--footer-color)
}

@media screen and (max-width: 992px) {
    .card{
        width: 50%;
        transition: all 2s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    .card{
        width: 100%;
        transition: all 2s ease-in-out 0;
    }
}
